<div class="mx-auto" style="width: 200px;">
  Bonjour les djeuns !
</div><br>
<div class="mx-auto" style="width: 200px;">
  J'ai pleeeeeeiiiiiiiiiin de choses à vous raconter !
</div><br>
<div class="mx-auto" style="width: 200px;">
<a href="/gossips/new" class="btn btn-primary">Lien pour commérer</a>
<%= button_to 'Déconnecter', logout_path, method: :delete, class: 'btn btn-outline-danger btn-sm btn-block' %>

</div><br>


    <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @all_gossips.each do |gossip| %>
        <div class="col">
          <div class="card ">
            <div class="card shadow p-3 bg-white rounded" style="">
              <div class="card-body">
                <h5 class="card-title"><%= gossip.title %></h5>
                <h6 class="card-subtitle mb-2 text-muted"> de <%= gossip.content %></h6>
                <a href="/gossips/<%= gossip.id %>" class="btn btn-primary">Lien vers le potin <%= gossip.id %></a>
              </div>
            </div>
          </div>
        </div>
    <% end%>
    </div>
  </div>
  </body>
</div>