<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue <%= @first_name %> ! Ici, c'est ta page perso !</h1>
    <h2> Les caractéristiques de ton profil sont les suivantes: </h2>
    <br>
    <p> Ton prénom : <%= @user.first_name %> !</p>
    <p> Ton nom de famille : <%= @user.last_name %> !</p>
    <p> Ta description : <%= @user.description %> !</p>
    <p> Ton age : <%= @user.age%> !</p>
    <p> Ton zip_code : <%= @user.city.zip_code%> !</p>
  </body>
</html>